* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  /* width: 90%; */
  padding: 0px 15px;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.logo {
  width: 60px;
}
.logo img {
  width: 100%;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  color: #797979;
  font-size: 20px;
  text-align: center;
  margin: -30px 0 0;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links {
  position: relative;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}
.icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.icon span:first-child {
  height: 2px;
  width: 100%;
}
.icon span:nth-child(2) {
  height: 2px;
  width: 60%;
  transition: var(--main-duration);
}
.icon span:last-child {
  height: 2px;
  width: 100%;
}
.links ul {
  list-style: none;
  display: none;
  z-index: 1;
  position: absolute;
  margin: 0;
  min-width: 200px;
  border-radius: 4px;
  background-color: #f6f6f6;
  top: calc(100% + 15px);
  padding: 0;
  right: 0;

  transition: var(--main-duration);
}
.links ul::after {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: #f6f6f6 transparent transparent transparent;
  top: -15px;
  right: 0px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition-duration: var(--main-duration);
}

.links:hover .icon span:nth-child(2) {
  width: 100%;
}
.links:hover ul {
  display: block;
}
.links ul li a:hover {
  padding-left: 25px;
}
.landing {
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg);
  height: calc(-64px + 100vh);
  background-size: cover;
  position: relative;
}
.landing .info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.info-text h3 {
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  color: var(--main-color);
}
.landing .info-text p {
  font-size: 19px;
  padding-top: 15px;
  line-height: 1.8;
}
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
i {
  color: var(--main-color);
}
.feat h3 {
  margin: 30px 0;
  font-weight: 800;
}
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.special-heading {
}
.services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}
.services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.srv i {
  flex-basis: 60px;
}
.text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.image {
  position: relative;
  text-align: center;
}
.image::before {
  content: '';
  position: absolute;
  height: calc(100% + 100px);
  z-index: -1;
  background-color: var(--secondary-color);
  right: 0px;
  width: 100px;
  top: -50px;
}
.image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
.portofolio {
  background-color: #f6f6f6;
}
.card img {
  max-width: 100%;
}
.portofolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.card {
  margin-bottom: 30px;
}
.info {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.info h3 {
  margin: 0;
}
.info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
.about {
  margin: 150px 0;
}

/* .about-content{
  margin:40px 0;
  display: grid;
  grid-template-columns: repeat(2,minmax(250px , 1fr));
gap:0 10px;
overflow: hidden */

/* } */

.about .container .about-content .image {
  height: 375px;
  width: 250px;
  position: relative;
}
.image img {
  height: 100%;
  width: 100%;
}
.about .container .about-content .image::before {
  position: absolute;
  content: ' ';
  background-color: #ebeced;
  width: 100px;
  height: 120%;
  left: -20px;
  top: -40px;
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .container .about-content .image::after {
  position: absolute;
  content: '';
  top: -70px;
  border-left: 80px solid var(--main-color);
  z-index: -1;
  width: 120px;
  height: 300px;
  right: -150px;
  border-bottom: 80px solid var(--main-color);
}
.about-para {
  flex-basis: calc(100% - 500px);
}
.first {
  line-height: 2;
  margin-bottom: 60px;
  font-weight: bold;
  position: relative;
}
.first::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: var(--main-color);
  bottom: -30px;
  left: 1px;
}
.about-para:nth-child {
  line-height: 2;
  color: #777;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.contact {
  background-color: #f6f6f6;
  padding: var(--section-padding) 0;
  margin:30px 0 0
}
.contact h1 {
  margin: 50px 0 30px;
  line-height: 2;
  color: var(--secondary-color);
}
.contact h1 span {
  color: #10cab7;
}
.social {
  font-size: 16px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.social i{
  color: var(--secondary-color);
  margin-left: 10px;
}
@media (max-width: 767px) {
  .contact .about-content h1,
  .contact .about-content h1 span {
    font-size: 25px;
  }
}
footer{
  background-color: #2C4755;
  padding :30px;
  text-align: center;
  color: white;
  font-size: 18px;
}

footer p span{
  font-weight: bold;
  color: #10CAB7;
}